@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-sans;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


section#container {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 12px;
  padding-bottom: 10px;
  background: #fdfdfd;
  box-shadow: 0px 0px 10px -1px #c9c9c9;
}
section#container header {
  border-bottom: 1px dotted #2d2d2d;
  padding: 10px;
  color: #2d2d2d;
  background: #f5f5f5;
  border-radius: 12px 12px 0 0;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section#messages {
  margin: 10px 10px 15px 10px;
  padding: 10px 15px 10px 15px;
  overflow-y: auto;
  max-height: 350px;
  min-height: 350px;
  border-radius: 10px;
  background: #f5f5f5;
  /*
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  */
}
section#messages div.message {
  margin: 0 0 15px 0;
  width: 100%;
}
section#messages div.message h4.name {
  margin: 0 10px 0 0;
  font-weight: 500;
}
section#messages div.message div.content {
  width: 75%;
  border: 1px solid #ababab;
  padding: 5px;
  background: #fdfdfd;
  border-radius: 8px;
  font-size: 12px;
}
section#messages div.message.from {
  text-align: right;
  display: inline-block;
  width: 100%;
}
section#messages div.message.from div.content {
  text-align: left;
  display: inline-block;
  background: #e7ffc8;
  border-color: #addd6e;
}

form#formMessage, form#formLogin {
  display: flex;
  gap: 10px;
  align-items: stretch;
  margin: 10px;
}
form#formMessage textarea, form#formLogin input {
  width: 80%;
  border: 1px solid #ababab;
  min-height: 40px;
  max-height: 100px;
  min-width: 390px;
  padding: 6px 4px;
  background: #f5f5f5;
  border-radius: 5px;
}
form#formMessage button, form#formLogin a.btn-entrar {
margin: 0;
  padding: 8px;
  border: 1px solid #ababab;
  width: 20%;
  color: #2d2d2d;
  font-weight: bolder;
  border-radius: 5px;
}
